article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
  display: block;
}

html, body {
  height: auto;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, 'Meiryo', 'ƒƒCƒŠƒI', 'ƒqƒ‰ƒMƒmŠpƒS Pro','Hiragino Kaku Gothic Pro', 'ƒqƒ‰ƒMƒmŠpƒS ProN','Hiragino Kaku Gothic ProN', 'ŸàƒSƒVƒbƒN‘Ì', 'YuGothic', 'ŸàƒSƒVƒbƒN', 'Yu Gothic', 'IPAƒSƒVƒbƒN', 'IPAGothic', serif;
  font-size: 20px;
  color: #444;
}

#wrap {
  height: auto;
}

#header {
  float: left;
  height: 100%;
  width: 40%;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url(/img/header/02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
}

#header-wrap {
  width: 100%;
  position: absolute;
  right: 20px;
  bottom: 20px;

  font-family: 'Times New Roman', Times, 'Ÿà–¾’©‘Ì', 'YuMincho', 'Ÿà–¾’©', 'Yu Mincho', 'ƒqƒ‰ƒMƒm–¾’© Pro', 'Hiragino Mincho Pro', 'ƒqƒ‰ƒMƒm–¾’© ProN', 'Hiragino Mincho ProN', 'IPA–¾’©', 'IPAMincho', 'Meiryo', 'ƒƒCƒŠƒI', serif;
  font-weight: normal;
  color: white;

  mix-blend-mode: overlay;
  -webkit-mix-blend-mode: overlay;
  blend-mode: overlay;
  -webkit-blend-mode: overlay;
  opacity: 0.5;
  -webkit-opacity: 0.5;
}

h1#site-title {
  float: right;
  margin: 0;
  margin-before: 0;
  -webkit-margin-before: 0;
  margin-after: 0;
  -webkit-margin-after: 0;

  font-size: 96px;
  font-weight: normal;
  line-height: 1em;

  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  -epub-writing-mode: vertical-rl;
}

#site-title a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

#site-extra {
  font-size: 16px;
  display: block;
  margin: 0;
  position: absolute;
  right: 102px;
  bottom: 2px;
}

#slider {
  margin-left: 45%;
  margin-right: 5%;
  width: 50%;
  margin-left: calc(40% + 50px);
  margin-right: calc(50px);
  width: calc(60% - 100px);
  margin-left: -weblit-calc(40% + 50px);
  margin-right: -weblit-calc(50px);
  width: -weblit-calc(60% - 100px);
  max-width: 800px;
}
