<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }} - {{ site.name }}</title>
        <meta name="viewport" content="width=device-width">

        <!--[if lt IE 9]>
        <script type="text/javascript" src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
        <![endif]-->

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div id="wrap">
          <header id="header">
            <h1 id="site-title"><a href="/">{{ site.name }}</a></h1>
            <p id="site-extra">{{ site.description }}</p>
          </header>

          <div id="main">
            {{ content }}
          </div>

          <div id="footer">
            <div id="author">
              <p>
                hakatashi<br />
                hakatasiloving@gmail.com
              </p>
            </div>
            <div id="contact">
              <p>
                <a href="https://github.com/hakatashi">github.com/hakatashi</a><br />
                <a href="https://twitter.com/hakatashi">twitter.com/hakatashi</a><br />
              </p>
            </div>
            <div id="license">
              <p xmlns:dct="http://purl.org/dc/terms/">
                <a rel="license" href="http://creativecommons.org/publicdomain/zero/1.0/"><img src="http://i.creativecommons.org/p/zero/1.0/88x31.png" style="border-style: none;" alt="CC0" /></a>
                <br />
                Except otherwise noted,
                <a rel="dct:publisher" href="http://hakatashi.com"><span property="dct:title">hakatashi</span></a>
                has waived all copyright and related or neighboring rights to
                this work to the extent possible under law.
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
